# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
*.env

# Node
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json
npm-debug.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
